body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #2d2d2d;
    font-weight: 700;
    margin: 20px 0;
}

h2 {
    font-size: 20px;
    color: #2d2d2d;
    margin-bottom: 15px;
}

.section-title-left {
    text-align: left;
}

.section-title-right {
    text-align: right;
}


form {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 80%;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.container1, .container2 {
    flex: 1;
    max-width: 45%;
    display: flex;
    flex-direction: column;
}


label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

input[type="number"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="number"]:focus, select:focus {
    border-color: #333333;
    outline: none;
    box-shadow: 0 0 5px rgb(51, 51, 51);
}


.berechnen-button {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background-color: #333333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-end;
    margin-top: 10px;
}

.berechnen-button:hover {
    background-color: #171717;
}


.result {
    background-color: #e8feef;
    color: #2ea44f;
    border: 1px solid #007600;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

.error {
    background-color: #fce8e6;
    color: #d93025;
    border: 1px solid #691515;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}


/* Mobile Ansicht */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .container1, .container2 {
        max-width: 100%;
    }

    .berechnen-button {
        align-self: center;
    }
}
